body{
    width: 100vw;
    box-sizing: border-box;
    height: 100%;
}

.primary_btn {
    background-color: #6f42c1;
    color: #fff;
    border-color: #6f42c1;

    &:hover {
        background-color: #59359a;
        border-color: #59359a;
    }

    &:active {
        background-color: #59359a !important;
        border-color: #59359a !important;
    }
}

.border_btn {
    color: #6f42c1;
    border-color: #6f42c1;

    &:hover {
        background-color: #59359a;
        color: #fff;
        border-color: #6f42c1;
    }
}

/* Admin styles */

.dashboard_sidebar {
    background-color: #eee;
    padding-right: 0;

    .nav-link {
        color: #6f42c1;
    }

    .nav-link.active{
        background-color: #6f42c1;
    }
}

.admin-dashboard{
    width: 100%;
    height: 100vh;
}

.action-buttons{
    padding: 4px !important;

    .faEdit{
        color: #a98eda;
    }

    .faTrash{
        color: #d57979;
    }
}

/* Home styles */

.statistic_bar {
    background-color: #a98eda;
    color: #fff;
}

.footer_nav {
    a {
        color: rgb(33, 37, 41);

        &:hover {
            color: #59359a;
        }
    }
}

.public-card-image{
    height: 200px;
    object-fit: cover;
}

.about-vision{
    background-color: #a98eda;
    color: #fff;
    text-align: center;
    padding: 32px;
}

.about-aboveFooter{
    text-align: center;
    background-color: #F2F2F2;
    padding: 32px;

    p{
        padding: 0 32px;
    }
}

.viewmore-btn{
    color: #6f42c1;
}