
.primary_btn{
    background-color: #6f42c1;
    color:#fff ;
    border-color: #6f42c1;

    &:hover{
        background-color: #59359a;
        border-color: #59359a;
    }
}

/* StatisticsBar styles */

.statistic_bar{
    background-color: #a98eda;
    color: #fff;
}